
body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #242424;
    padding-left: 40px;
    padding-right: 40px;
    }

::-webkit-scrollbar {
    width: 20px;
    }

::-webkit-scrollbar-thumb {
    background-color: #007cff;
    }

::-webkit-scrollbar-track {
    background-color: #242424;
    }

::-webkit-scrollbar-track-piece {
    background-color: #202020;
    }

::-webkit-scrollbar-button {
    background-color: #242424;
    }

::selection {
    background: #007cff;
    color: black;
    }

br {
    user-select: none;
    }

p {
    font-size: 3vmin;
    }

a:hover {
    text-decoration: underline;
    }

.al {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.h1 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.p1 {
    font-size: 14px;
    text-align: center;
}

.div1 {
    background-color: red;
    width: 77px;
    border: solid black;
    padding: 20px;
    margin: 20px;
}

.div2 {
    background-color: #5865F2;
    width: 77px;
    border: solid black;
    padding: 20px;
    margin: 20px;
}

.div3 {
    background-color: white;
    width: 77px;
    border: solid black;
    padding: 20px;
    margin: 20px;
}

.div4 {
    background-color: #1D9BF0;
    width: 77px;
    border: solid black;
    padding: 20px;
    margin: 20px;
}

.h3m {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline;
}

.ag {
    color: #0492c2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.h3 {
    color: #2a6faf;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.h3:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.all {
    color: white;
    font-size: 20px;
    text-decoration: overline;
    text-decoration-color: #5865F2;
    font-weight: bold;
    text-align: center;
}

.all:hover {
    text-decoration: underline;
    text-decoration-color: #5865F2;
}